h3 {
  margin-top: 2em;
}

figure {
  text-align: center;
  margin: 4em 0;
  page-break-inside:avoid;
}

img {
  max-width:  100%;
  max-height: 100%;
  display: inline-block;
}

figcaption {
  margin-top: 1em;
  font-weight: bold;
}
